body {
  background-color: #f8f9fa !important;
}

.pricing-card-title {
  font-size: 1.75rem;
}

.donation-input {
  margin-bottom: .75rem;
}

.disabled-link {
  pointer-events: none;
}

.team-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}

.contact-us-link {
  text-decoration: none
}
